## Further exercises

In 1885 Francis Galton famously collected data on the heights (amongst other features) of a large number of family groups - over 800 individuals

These data were important in the development of some classic statistics (like correlation) and some important ideas (like regression to the mean).

Plotting these data we can see how histograms could work for a larger dataset

Load the file "GaltonsHeightData.csv"

In [80]:
galtonData = pandas.read_csv('data/GaltonsHeightData.csv')
display(galtonData)

     Family  Father  Mother Gender  Height  Kids
0         1    78.5    67.0      M    73.2     4
1         1    78.5    67.0      F    69.2     4
2         1    78.5    67.0      F    69.0     4
3         1    78.5    67.0      F    69.0     4
4         2    75.5    66.5      M    73.5     4
..      ...     ...     ...    ...     ...   ...
893     205    68.5    65.0      M    68.5     8
894     205    68.5    65.0      M    67.7     8
895     205    68.5    65.0      F    64.0     8
896     205    68.5    65.0      F    63.5     8
897     205    68.5    65.0      F    63.0     8

[898 rows x 6 columns]